# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide & tool
.claude
.vscode

# airdev - required
/package-local.json
/components.json
/knip.json
/next.config.js
/postcss.config.mjs
/prettier.config.js
/prisma.config.ts
/tsconfig.json
/vitest.config.mts
/plugins/airent-api-next/client-sdk-json-template.ts.ejs
/plugins/airent-api-next/server-api-inngest-route-template.ts.ejs
/plugins/airent-api-next/server-service-inngest-template.ts.ejs
/plugins/airent-api-next/server-service-scheduler-template.ts.ejs
/prisma/seed.ts
/schemas/nextauth-account.yml
/schemas/nextauth-session.yml
/schemas/nextauth-verification-token.yml
/schemas/system-request-cache.yml
/schemas/system-scheduled-job.yml
/src/proxy.ts
/src/app/error.tsx
/src/app/layout.tsx
/src/app/loading.tsx
/src/app/manifest.ts
/src/app/not-found.tsx
/src/app/page.tsx
/src/app/robots.ts
/src/app/sitemap.ts
/src/app/(policy)
/src/app/(protected)/layout.tsx
/src/app/(protected)/admin/layout.tsx
/src/app/(protected)/admin/page.tsx
/src/app/(protected)/admin/api
/src/app/(protected)/admin/users
/src/app/(protected)/settings/loading.tsx
/src/app/(protected)/settings/page.tsx
/src/app/(protected)/not-found.tsx
/src/app/auth
/src/app/api/auth/\[...nextauth\]
/src/app/api/auth/become
/src/app/api/edge/revalidate
/src/app/api/json/create-s3-presigned-post
/src/app/api/json/create-s3-presigned-url
/src/backend/debug/test-email.ts
/src/backend/debug/test-env.ts
/src/backend/debug/test-error.ts
/src/backend/debug/test-schedule-job.ts
/src/backend/deliveries/auth.ts
/src/backend/entities/nextauth-account.ts
/src/backend/entities/nextauth-session.ts
/src/backend/entities/nextauth-verification-token.ts
/src/backend/entities/system-request-cache.ts
/src/backend/entities/system-scheduled-job.ts
/src/backend/jobs/background/README.md
/src/backend/jobs/background/test.ts
/src/backend/jobs/cron/README.md
/src/backend/jobs/cron/execute-scheduled-jobs.ts
/src/backend/jobs/cron/purge-request-cache.ts
/src/backend/jobs/scheduled/README.md
/src/backend/jobs/scheduled/test-scheduled-job.ts
/src/backend/lib/nextauth.ts
/src/backend/lib/prisma.ts
/src/backend/sdks/aws.ts
/src/backend/sdks/inngest.ts
/src/backend/sdks/posthog.ts
/src/backend/sdks/postmark.ts
/src/backend/services/data/nextauth-account.ts
/src/backend/services/data/nextauth-session.ts
/src/backend/services/data/nextauth-verification-token.ts
/src/backend/services/data/system-request-cache.ts
/src/backend/services/data/system-scheduled-job.ts
/src/backend/services/data/user-search.ts
/src/backend/webhooks/README.md
/src/common/types/data/nextauth-account.ts
/src/common/types/data/nextauth-verification-token.ts
/src/common/types/data/system-scheduled-job.ts
/src/common/types/data/user.ts
/src/common/types/vendors/postmark.ts
/src/common/utils/logging.ts
/src/config/component/server.tsx
/src/config/function/backend.ts
/src/config/function/common.ts
/src/config/function/edge.ts
/src/config/function/server.ts
/src/config/json/edge.ts
/src/config/json/private.ts
/src/config/json/public.ts
/src/emails/VerificationCode.tsx
/src/emails/shared/Container.tsx
/src/emails/shared/Layout.tsx
/src/emails/shared/Logo.tsx
/src/frontend/lib/backend.ts
/src/frontend/utils/download.ts
/src/frontend/utils/make-transition.ts
/src/frontend/utils/mobile.ts
/src/frontend/utils/scroll.ts

# airent
/src/generated
/src/app/api/data
/src/app/api/debug
/src/app/api/inngest
/src/app/api/jobs
/src/app/api/webhooks

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
# /.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
# env.lock
# .env*.local
# *.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temporary data files
tmp
certificates
